
body{
    background-color: rgb(75, 75, 75);
}

h1{
    text-align: center;
    color: blueviolet;
    text-shadow: 0px 0px 2px black;
}
button{
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}